# Tipe Data dan Operator

Setiap pemrograman memiliki tipe data bawaan, begitu juga Python. Dalam notebook ini, kita akan mulai berkenalan dengan tipe data yang ada dalam Python dan juga bagaimana kita bisa menggunakan Python untuk melakukan operasi-operasi yang biasa kita lakukan menggunakan kalkulator.

## Python Sebagai Kalkulator

Beberapa operator di Python:
* `+` penjumlahan
* `-` pengurangan
* `*` perkalian
* `/` pembagian
* `**` operasi eksponen/pangkat (bahasa pemrograman yang lain mungkin menggunakan `^`)
* `//` pembagian yang hasillnya dibulatkan ke bawah.

<div class="alert alert-block alert-info">
    <strong>Kuis:</strong> Sebagai pekerja lepas, pemasukan tiap bulan saya tidak tentu. Bulan Januari kemairn saya mendapat pemasukan sebesar 1 juta rupiah, Februari Rp 500.000,-, dan Rp 800.000,- di bulan Maret. Berapa rata-rata pendapatan saya pada kuartal pertama di tahun ini?
</div>

In [ ]:
print(# KETIK DI SINI)

<div class="alert alert-block alert-info">
<code>print</code> adalah fungsi bawaan dari Python yang digunakan untuk menampilkan nilai masukan (<em>input</em>) apapun ke luaran sebagai <strong>teks</strong>
</div>

In [ ]:
print(25 + 30)
print(25 - 30)
print(5 * 10)
print(6 / 3)

In [ ]:
print(25 + 30)
print(10 - 5 * 20)
print(4 / 2)
print(4 % 2)
print(4 % 3)    # 4 = 1*3 + 1
print(12 ** 2)
print(111 // 5)

In [ ]:
print(10 - 5 * 20)
25 + 35

In [ ]:
print(10)

## Variabel dan Operator Penugasan

Kita bisa mendefinisikan variabel dengan menggunakan operator `=`, sebagai contoh, `current_year = 2021`. Di sini, `current_year` adalah **nama variabel**, **=** adalah operator penugasan (*assignment operator*), yang diberi nilai **2021**.

Jika kita ingin mendefinisikan lebih dari satu variabel, kita bisa menuliskan seperti di bawah ini.

```python
x = 10
y = 7
z = 12
```

atau, cara pendefinisian yang lebih *pythonic*,

```python
x, y, z = 10, 7, 12
```

Dalam pendefinisian variabel, ada beberapa aturan yang perlu diperhatikan:
1. Hanya gunakan **huruf**, **angka**, dan **garis bawah (`_`)**.
2. **Jangan** menggunakan **spasi**.
3. **Diawali** dengan **huruf** atau **garis bawah**
4. Tidak bisa menggunakan **kata kunci yang sudah dipakai** yang merupakan bawaan dari Python. Contoh kata kunci bawaan yang tidak bisa kita pakai seperti pada gambar di bawah ini dan selengkapnya bisa dilihat [di sini](https://pentangle.net/python/handbook/node52.html).
5. Cara yang lebih *pythonic* untuk menamai variabel adalah dengan menggunakan semua **hurus kecil** dan setiap suku kata **dipisahkan** oleh **garis bawah (`_`)**.

![](../../assets/images/python-keywords.png)

<div class="alert alert-info alert-block">
    Cara kita menamai sebuah variabel disebut dengan <b>snake case</b> karena kita cenderung menghubungkan atau memisahkan setiap suku kata dengan garis bawah, layaknya tubuh ular.
</div>

In [ ]:
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)
print(x, y, z)

In [ ]:
# akan muncul error karena ada spasi
my population = 12091849

In [ ]:
# akan muncul error karena diawali dengan angka
1_var = 100

In [ ]:
current_year = 2021
last_year = 2020
last_year = 2022

print(current_year, last_year, lastYear)

In [ ]:
# ini adalah baris komentar dalam Python (baris yang dimulai dengan `#`)
x, y, z = 10, 11, 12

print(x)
print(y)
print(z)

In [ ]:
month9 = 10000
month_9 = 10000
print(month9, month_9)

## Operator Penugasan Lain

Selain `=`, ada beberapa operator penugasan lain yang mungkin berguna dan menyingkat penulisan seperti `+=`, `-=`, atau juga `*=`.

Sebagai contoh, jika kita ingin melakukan perubahan variabel `current_year`, kita bisa menulis

```python
current_year = current_year + 1
```

Karena kita hanya akan memperbarui nilai `current_year` dan akan masih menggunakan nama variabel yang sama, kita bisa menggunakan operator `+=`. Sehinga, akan jadi seperti

```python
current_year += 1
```

In [ ]:
my_population = 1200000
my_population = my_population + 1000000
print(my_population)

my_population *= 0.5
print(my_population)

my_population **= 2
print(my_population)

Selain operator penugasan di atas, ada juga operator perbandingan yang digunakan untuk membandingkan suatu nilai dengan nilai lainnya. Berikut adalah tabel operator perbandingan.

|Symbol Use Case|Bool|Operation|
|---------------|----|---------|
| 5 < 3 | False | Less Than
| 5 > 3 | True | Greater Than
| 3 <= 3 | True | Less Than or Equal To
| 3 >= 5 | False | Greater Than or Equal To
| 3 == 5 | False | Equal To
| 3 != 5 | True | Not Equal To

Hasil dari operasi perbandingan tersebut adalah sebuah `Boolean`, yaitu salah satu tipe data yang menyatakan suatu objek bernilai **benar** (`True`) atau **salah** (`False`).

In [ ]:
3 == 5

## Tipe Data dalam Python

### Numerik

Tipe data pertama yang akan kita bahas adalah tipe data numerik. Dalam tipe data numerik, terdapat dua jenis tipe data:
* `int`, untuk nilai-nilai bilangan bulat
* `float`, untuk nilai-nilai bilangan desimal atau real
* `complex`, untuk nilai-nilai bilanga kompleks

<div class="alert alert-block alert-info">
Untuk mengetahui tipe data suatu objek dalam Python, kita bisa menggunakan fungsi bawaan Python yaitu `type`, misal `type(10)`.
</div>

#### Integers

Dengan kita menulis `1`, `-10`, `1000000`, `-999`, dan sejenisnya, kita sudah menginisiasi data integer. Sebagai contoh, kita bisa mencari tahu secara langsung tipe data dari nilai tersebut atau juga dengan mendefinisikannya ke dalam sebuah variabel.

```python
print(type(1), type(-10))
```

atau dengan memasukkannya ke dalam variabel seperti berikut.

```python
value = -100
print(type(value))
```

In [ ]:
print(type(10), type(0))
print(type(1), type(-10))

In [ ]:
print("tipe data dari", current_year, ":", type(current_year))
print("tipe data dari", last_year, ":", type(last_year))

#### Float

Tipe data `float` adalah semua nilai desimal seperti `0.14`, `-10.2092`, dan bahkan `100.0`. Contoh terakhir bertipe data `float` karena meskipun dalam matematika sama dengan `100`, tapi karena kita membubuhi notasi desimal (`.`), maka Python akan menganggap objek tersebut bertipe data `float`.

In [ ]:
print(3.15, type(3.14))
print(.5101, type(.05101))
print(10.0, type(10.0))
print(10., type(10.))    # float
print(10, type(10))    # integer

Python juga menyediakan fungsi bawaan `float` dan `int` yang salah satu kegunaanny adalah untuk mengubah tipe data yang awalnya integer menjadi float dan sebaliknya.

<div class="alert alert-success alert-block">
    fungsi <code>float</code> dan <code>int</code> juga bisa digunakan untuk mendefinisikan nilai kosong (<math>0</math>) jika kita memanggilnya tanpa ada argumen

<pre>
simple_int = int()
simple_float = float()
</pre>
</div>

In [ ]:
# konversi tipe data dari float ke int, dan sebaliknya
x_int = 10
y_float = 3.14

x_float = float(x_int)
y_int = int(y_float)

print(x_int, y_int)
print(x_float, y_float)
print(float(y_float))

In [ ]:
simple_int = int()
simple_float = float()

print(simple_int, simple_float)
print(simple_int == 0)
print(simple_float == 0.)

In [ ]:
type(1), type(True), type(3.14), type("python")

### Teks

Suatu teks, dalam Python, diwakili dengan tipe data `str` (baca: *string*). Teks adalah salah satu tipe data barisan dalam Python. Ada beberapa cara untuk mendefiniskan teks, yaitu membungkus teks dengan:
* *double quotes* (`""`)
* *single quotes* (`''`)
* *triple double quotes* (`""" """`)
* atau, *triple single quotes* (`''' '''`)

Kita bisa menggunakan *double qoutes* atau *single qoute* untuk menulis teks dalam satu baris yang sama dan menggunakan *triple double quotes* atau *triple single quotes* untuk lebih dari satu baris.

<div class="alert alert-block alert-info">
<p><b>Kuis:</b> Coba buat 3 variabel yang memuat masing-masing teks di bawah ini sesuai dengan nama variabel yang sudah ditentukan:</p>
<ul>
<li>nama variabel → <code>bootcamp</code>
<pre>
Selamat datang di Bitlabs!
</pre>
</li>
<li>nama variabel → <code>novel</code>
<pre>
"Arif, cepat ke sini!", ujar ibunya.
</pre>
</li>
<li>
nama variabel → <code>text</code>
<pre>
Mungkin al'ad sudah tidak sanggup.

Tapi, apa mungkin?
</pre>
</li>
</ul>
</div>

In [ ]:
bootcamp = 'Selamat datang di Bitlabs!'
novel = """"Arif, cepat ke sini!", ujar ibunya."""
text = """Mungkin al'ad sudah tidak sanggup.

Tapi, apa mungkin?"""

print(bootcamp)
print(novel)
print(text)

<div class="alert alert-block alert-info">
    <b>Kuis:</b> Perbaiki variabel <code>fix</code> di cell bawah ini supaya dapat ditampilkan.
</div>

In [ ]:
fix = '
"Apa mungkin, kita diam saja melihat 'ain diperlakukan seperti itu?", tanya usop.

Ihsan pun diam, berpikir. 
"

print(fix)

### Boolean

Jika kita lihat kembali tabel [operator perbandingan](comparison-operator) di atas, semua nilai yang dikembalikan bertipe `boolean` atau `bool`. Nilai boolean terdiri dari 2 jenis, `True` dan `False`. Dalam bahasa pemrograman lain, penulisannya mungkin akan sedikit berbeda, seperti javascript menggunakan huruf kecil `true`.

Nilai `True` dan `False` juga sering dikonversi ke dalam bentuk numerik yang memiliki nilai `1` dan `0` secara berturut-turut. Mari kita coba di cell bawah ini.

In [ ]:
print(5 < 3)
print(3 <= 5)
print(5 != 5.)
print(0 != 0.)
print("bit" == "bit")
print("bit" == "Bit")
print("abjad" > "Abjad")
print("abjad" > "abjaf")
print("abjad" < "abjaf")
print("a10" >= "a11")
print(10 >= 101)

In [ ]:
x, z

In [ ]:
is_more = x > z
print(is_more, type(is_more))

is_x_more_z = x > z
print(is_x_more_z, type(is_x_more_z))

Kita juga bisa menggabungkan beberapa perbandingan menggunakan logika penggabungan `and`, `or`, atau `not`.  Selengkapnya dapat dilihat pada tabel di bawah ini.

|Logical Use Case|Bool|Operation|
|---------------|----|---------|
| 15 < 13 `and` 5 == 5 | False | `and` - Dievaluasi `True` jika semua pernyataan benar
| 15 > 13 `or` 5 != 5. | True | `or` - Dievaluasi `True` jika salah satu pernyataan benar
| `not` 15 < 13 | True | `not` - Kebalikan dari nilai boolean

<div class="alert alert-block alert-info">
<p><b>Kuis</b> Lengkapilah tabel kebenaran di bawah ini jika kita definisikan <code>p = q = 1</code>.</p>
<div>
    <table>
        <tr>
            <th>p</th>
            <th>q</th>
            <th>p and q</th>
            <th>p or q</th>
        </tr>
        <tr>
            <td>p</td>
            <td>q</td>
            <td>True</td>
            <td>True</td>
        </tr>
        <tr>
            <td>p</td>
            <td>not q</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>not p</td>
            <td>q</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr>
            <td>not p</td>
            <td>not q</td>
            <td>False</td>
            <td>False</td>
        </tr>
    </table>
</div>

In [ ]:
p = q = 1

p_and_notq = # KETIK DI SINI
notp_and_q = # KETIK DI SINI
notp_and_notq = # KETIK DI SINI

p_or_notq = # KETIK DI SINI
notp_or_q = # KETIK DI SINI
notp_or_notq = # KETIK DI SINI

Jika kita memasukkan nilai boolean ke dalam fungsi bawaan `int` atau `float`, maka nilai `True` akan berubah menjadi `1` dan `1.0` untuk integer dan float secara berturut-turut, dan sebaliknya untuk `False`.

Python juga menyediakan fungsi bawaan `bool` yang bisa mengonversi tipe data lain ke dalam bentuk boolean.

```python
print(bool(0))
print(bool(1))
print(bool("False"))
print(bool(""))
print(bool(0.))
print(bool)
```

In [ ]:
print(int(True), int(False))
print(float(True), float(False))

print(bool(0), bool(1))
print(bool(0.), bool(1.))

print(bool("False"), bool(""))
print(bool(10923489), bool(0))