# Tuple

Tuple adalah salah satu tipe data barisan dalam Python yang memiliki sifat *immutable* atau tidak bisa diubah. Ini berarti elemen-elemen yang ada di dalam sebuah tuple, tidak bisa kita ubah, baik ditambah, dikurangi, diganti, atau diubah urutannya.

Kita bisa mendefinisikan sebuah tuple dengan beberapa cara:
* Menggunakan tanda kurung untuk tuple kosong: `()`
* Menggunakan (membubuhi) tanda koma (`,`) untuk tuple dengan 1 elemen, misal: `a,` atau `(a,)`
* Mendaftar elemen-elemen yang dipisahkan dengan tanda koma, misal: `a, b, c` atau `(a, b, c, d)`
* Menggunakan fungsi bawaan `tuple()`

In [ ]:
print(type((10)))
print(type((10,)))
print(type([10]))

## Mendefinisikan Tuple dengan `,` dan `()`

Kita bisa membuat tuple kosong hanya dengan membuat tanda kurung `()` tanpa ada elemen di dalamnya.

```python
empty_tuple = ()
```

Berbeda dengan list, kita bisa membungkus beberapa elemen dengan tanda kurung untuk mendefinisikan tuple dengan `,` yang memisahkan setiap elemennya.

```python
ceo = ("mark", "elon")
```

Penggunaan tanda kurung sebenarnya opsional jika kita membuat tuple yang memiliki satu atau beberapa elemen di dalamnya.

```python
# ini adalah tuple yang sama dengan `ceo`
same_ceo = "mark", "elon"

# ini juga tuple dengan satu elemen
bootcamp = "bitlabs",
```

In [ ]:
empty_tuple = ()
print(empty_tuple, type(empty_tuple))

ceo = ("mark", "elon")
print(ceo, type(ceo))

same_ceo = "mark", "elon"
print(same_ceo, type(same_ceo))

bootcamp = "bitlabs",
print(bootcamp, type(bootcamp))

str_bootcamp = "bitlabs"
print(str_bootcamp, type(str_bootcamp))
print(str_bootcamp == bootcamp)

In [ ]:
tuple_of_names = ["john", "andersen"], ["josh", "andrew"]
print(tuple_of_names)

list_of_names = [["john", "andersen"], ["josh", "andrew"]]
print(list_of_names)

Tuple yang termasuk dalam kategori *sequence* dalam Python, juga memiliki sistem indeks dan irisan yang sama dengan list. Tidak ada yang berbeda dalam hal ini.

```python
# akses ceo pertama
print(ceo[0])

# akses ceo terakhir dengan indeks negatif
print(ceo[-1])
```

Misalkan, kita ingin membongkar elemen `same_ceo` ke dalam variabel `first_ceo` dan `second_ceo`. Kita bisa melakukan *indexing* dan memasukkan nilainya ke dalam variabel tersebut satu persatu seperti di bawah ini.

```python
first_ceo = ceo[0]
second_ceo = ceo[1]
```

Atau, cara lain yang lebih *pythonic*

```python
first_ceo, second_ceo = ceo
```

<div class="alert alert-block alert-info">
    <b>Kuis:</b> Dengan <em>unpacking</em>, definisikan variabel <code>longitude</code> dan <code>latitude</code> dari variabel <code>location</code> pada cell bawah ini
</div>

In [ ]:
location = -6.91589099562453, 107.62285836361218
print(location)

# KETIK DI SINI
# longitude = location[0]
# latitude = location[1]
longitude, latitude = location
print(longitude, latitude)

## Mendefinisikan Tuple dengan `tuple()`

Sebagai contoh, kita lakukan hal yang sama seperti pada [list](./list.ipynb) sebelumnya pada string `"bitlabs"`. Selain itu, masih ingat dengan variabel `first_quarter_months`? Kita bisa mengubah list tersebut menjadi tuple dengan fungsi `tuple`.

In [ ]:
first_quarter_months = ["January", "February", "March"]

print(first_quarter_months, type(first_quarter_months))
print(tuple(first_quarter_months), type(tuple(first_quarter_months)))
print(tuple())
print(tuple("bitlabs"))

In [ ]:
first_quarter_months.append("June")

In [ ]:
first_quarter_months

In [ ]:
first_quarter_months.append(9)

In [ ]:
first_quarter_months.append(True)
new_months = first_quarter_months.append(1+8j)

In [ ]:
first_quarter_months

In [ ]:
new_months, None

In [ ]:
list_ceo = list(ceo)
print(list_ceo)

list_ceo[0] = "william"
print(list_ceo)

In [ ]:
# ceo[0] = "william"    # will throw error

In [ ]:
ceo.count("mark"), ceo.index("mark")

<div class="alert alert-block alert-info">
<p><b>Kuis:</b></p>
<p>Misal didefinisikan variabel di bawah ini.</p>
<pre>
tuple_x = list(), str(), int(), float()
tuple_y = (list(), str(), int(), float())
</pre>


<p>Kira-kira apa yang ditampilkan dari kode di bawah?</p>
<pre>
print(tuple_x == tuple_y)
print(tuple_y[0])
</pre>
</div>

In [ ]:
# KETIK DI SINI